extends ./agent-layout.jade

script(type="text/javascript", src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js")

block content

    .container
        h1 Agent Experience

        p Login with the following agent names for different functionality.

        dl.dl-horizontal
            dt directdial
            dd accepts calls from the direct number.

            dt agent 
            dd accepts calls from the ACD.

        hr

        // C2C contact form
        .row
            .col-md-6
                #softphone-view.box
                    h2 Soft Phone

                    hr

                    .disjunct

                        #login
                            p Enter your agent name and press "Login" button

                            .input-group
                                input.form-control(type='text', id='agentName', placeholder='Agent Name' autocomplete='off')
                                span.input-group-btn
                                    button#login-button.btn.btn-default(type='button') Login
                            
                        #connecting
                            h3 connecting
                            p … to Twilio

                        #available
                            h3 available 
                            p 
                                |Logged in as 
                                span#agent &nbsp;

                        #established
                            h3 
                                |dialing customer 
                                span#calling &nbsp;
                            button#clear-button.btn.btn-lg.btn-block.btn-danger Clear   
                br

                #worker-view.box
                    h2 Task

                    hr

                    .disjunct

                        #disconnected
                            h3 disconnected 

                        #connecting
                            h3 connecting

                        #ready
                            h3 no task

                            dl.dl-horizontal
                                dt name
                                dd#name &nbsp;

                                dt activity
                                dd#activity &nbsp;

                                dt available
                                dd#available &nbsp;
                            
                            select#activity-select.form-control
                                option a
                                option b

                        #accepted.dl-horizontal
                            h3 task accepted

                            dl
                                dt account name
                                dd#account-name

                            dl
                                dt account number
                                dd#account-number

                            dl
                                dt contact name
                                dd#contact-name

                            dl
                                dt contact number
                                dd#contact-number

                            dl
                                dt phone number
                                dd#phone-number

                            dl
                                dt request reason
                                dd#request-reason
                            
                            dl
                                dt ticket number
                                dd#ticket-number
                
            .col-md-6
                #error.box
                    h2 Status
                    hr
                    #message.error-message OK

                br

                #log.box
                    h2 Log
                    hr
                    #entries
                    