extends ./layout.jade

script(type="text/javascript", src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js")

block content
  .container
    h1 Agent Panel
    p
      This page provides the following to agents:
    ul
        li alert on incoming call when available
        li set availability status
        li accept a call
        li terminate a call

    hr

    // C2C contact form
    .row
        .col-md-6
            form(id='agentForm', role='form')
                .form-group
                h3 Soft Phone
                p.help-block.
                    Please fill out this simple form and a support agent will
                    contact you right away.

                label Your Name
                .form-group
                input.form-control(type='text', id='agentName',
                    placeholder='Agent Name')

                button(type='submit', id='request-call-btn', class='btn btn-default') Login

        .col-md-6
            #state
                .alert.alert-info
                    strong Agent: 
                    span#agent-name &empty;
                .alert.alert-warning
                    strong Alerting Call: 
                    span#alert &empty;
                .alert.alert-success
                    strong Active Call: 
                    span#active &empty;
            #control
                .btn-group(role='group')
                    button#accept.btn.btn-lg.btn-success(disabled, type='button') Accept
                    button#hold.btn.btn-lg.btn-warning(disabled, type='button') Hold
