extends ./agent-layout.jade

script(type="text/javascript", src="//media.twiliocdn.com/sdk/js/client/v1.4/twilio.min.js")

block content

    .container
        h1 Agent Experience

        p Login with the following agent names for different functionality.

        dl.dl-horizontal
            dt directdial
            dd accepts calls from the direct number.

            dt agent 
            dd accepts calls from the ACD.

        hr

        // C2C contact form
        .row
            .col-md-6
                #worker-controls.box
                    h2 Work Router

                    .disjunct

                        #error.error-message
                            h3 Error
                            #message &nbsp;
                            p Worker is in an error state, page reload required.

                        #disconnected
                            h3 Disconnected 

                        #connecting
                            h3 Connecting

                        #ready
                            h3 Ready for work

                            dl.dl-horizontal
                                dt name
                                dd#name &nbsp;

                                dt activity
                                dd#activity &nbsp;

                                dt available
                                dd#available &nbsp;
                            
                            select#activity-select.form-control
                                option a
                                option b

                        #available
                            h3 available
                        
                        #unavailable
                            h3 unavailable

                        #accepted.dl-horizontal
                            h3 accepted

                            dl
                                dt account name
                                dd#account-name

                            dl
                                dt account number
                                dd#account-number

                            dl
                                dt contact name
                                dd#contact-name

                            dl
                                dt contact number
                                dd#contact-number

                            dl
                                dt phone number
                                dd#phone-number

                            dl
                                dt request reason
                                dd#request-reason
                            
                            dl
                                dt ticket number
                                dd#ticket-number

                br

                #controls.box
                    h1 Soft Phone

                    #login
                        h2 Login

                        p Enter your agent name and press "Login" button

                        .input-group
                            input.form-control(type='text', id='agentName', placeholder='Agent Name' autocomplete='off')
                            span.input-group-btn
                                button#login-button.btn.btn-default(type='button') Login

                        
                    #connecting
                        h2 Connecting
                        p … to Twilio

                    #available
                        h2 Available 
                        p 
                            |Logged in as 
                            span#agent &nbsp;

                    #established
                        h2 
                            |Responding to callback call from 
                            span#calling &nbsp;
                        button#clear-button.btn.btn-lg.btn-block.btn-danger Clear   

                    #error
                        h2 Error
                        #message.error-message &nbsp;
                        p Softphone is in an error state, page reload required.

            .col-md-6

                #log.box
                    h2 Status Log
                    #entries
                    