extends ./layout.jade

block content
  .container
    h1 Twilio
    p.
      Click To Call allows customers to engage with support by requesting
      a phone call from a support agent. The information collected from the
      customer at the time of request allows the support agent to provide
      personalized and contextualized engagement.

    p This example uses Twilio.

    hr

    // C2C contact form
    .row
      .col-md-12
        form(id='contactForm', role='form')
          .form-group
            h3 Request A Call
            p.help-block.
              Please fill out this simple form and a support agent will
              contact you right away.

          label Your Number
          .form-group
            input.form-control(type='tel', id='phoneNumber',
              placeholder='(210) 555-0100')

          button(type='submit', id='request-call-btn', class='btn btn-default') Request A Call