body {
  padding-top: 70px;
}

#worker-controls, #controls, #log {
  border: thin #eee solid;
  padding: 1em;
  border-radius: 3px;
}

#entries {
  padding: 1em;
  border-radius: 3px;
}

#entries > .entry > .checkpoint {
  font-weight: bolder;
  padding-left: 20%;
  margin-top: 1em;
  font-size: larger;
  font-family: monospace;  
  border-top: 2px black solid;
}

#entries > .entry > .time {
  display: inline-block;
  width: 20%;
  text-align: right;
  vertical-align: top;
  padding-right: 1em;
  font-family: monospace;
}

#entries .info, #entries .error {
  display: inline-block;
  width: 80%;
  font-family: monospace;
}

#entries .error {
  color: #d9534f;  
}

#worker-controls #error #message,
#controls #error #message {
  font-family: monospace;
  font-weight: bold;
  color: #d9534f;
  font-size: larger;
}
